@model IEnumerable<Corona.Models.VaccineViewModel>
@using BE
@using Corona.Models
@{
    ViewBag.Title = "Vaccines";
}
<link rel="stylesheet" href="~/css/ModalStyle.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="modalUpdate" class="modal">
    <span onclick="document.getElementById('modalUpdate').style.display = 'none'; location.href = '@($"/Home/Index")'" class="close" title="Close Modal">×</span>
    <div class="modal-content">
        <div class="modal-header">
            <h2>Vaccines Of Patient</h2>
        </div>
        @if (ViewBag.messageSuccessful != null && ViewBag.messageSuccessful != "")
        {
            <div class="w3-panel w3-pale-green w3-border">
                <h3>@ViewBag.messageSuccessful</h3>
            </div>
        }
        @if (ViewBag.messageError != null && ViewBag.messageError != "")
        {
            <div class="w3-panel w3-pink">
                <h3>@ViewBag.messageError</h3>
            </div>
        }
        @foreach (VaccineViewModel item in Model)
        {
            using (Html.BeginForm("EditVaccine", "Home", item))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="id" value=@item.id />
                        <input type="hidden" name="autoId" value=@item.autoid />
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => item.date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => item.date, "{0:d MMM yyyy}", new { id = "date", Name = "date", @class = "datepicker" })
                            @Html.ValidationMessageFor(model => item.date, "", new { @class = "text-danger", max = DateTime.Now })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => item.manufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => item.manufacturer, new { id = "manufacturer", Name = "manufacturer", @class = "datepicker" })
                            @Html.ValidationMessageFor(model => item.manufacturer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Finish" class="btn btn-default" onclick="document.getElementById('modalUpdate').style.display = 'none'; location.href = '@($"/Home/Index")'" />
            </div>
        </div>
    </div>


</div>
