@model IEnumerable<int>
@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Graph</h2>
<h5>from @DateTime.Now.AddMonths(-1).ToString("dd-MM-yyyy") till @DateTime.Now.ToString("dd-MM-yyyy") </h5>

<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

    <script>
        var jsArray = @Html.Raw(Json.Encode(Model));
        var xValues = [...Array(@Model.Count()).keys()];
        var yValues = jsArray;

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    yAxes: [{ ticks: { min: Math.min(...jsArray), max: Math.max(...jsArray) } }],
                }
            }
        });
    </script>
    <h5>Patients without vaccine: </h5>
    <p>@ViewBag.withoutVaccine</p>
</body>
</html>